.row
  - (configurator_items + [:adder]).each_slice(4) do |confs|
    - confs.each do |conf|
      - if conf == :adder
        .col-md-3#configurator-adder-container
          .panel.configurator-item-adder.panel-success#configurator-item-adder
            .panel-body
              .colorize.text-success
                %center
                  .fa.fa-plus-square.fa-4x.route-item-icon
                %center
                  New
      - else
        :ruby
          dom_id = "configurator-#{conf.name}-#{conf.id}"
        .sortable.config-item.col-md-3{:id => dom_id, 'configurator-id' => conf.id}
          = render :partial => 'configurator_item', :locals => {:name => conf.name, :description => conf.description, :configs => conf.account_configs.map{|a| [a.name, a.id]}, :matchers => conf.payload_matchers.map{|x| [x.payload_match_rule_id, x.value]}}
