.panel.panel-default#route-builder
  .panel-heading
    Route
    .pull-right.route-item-adder= yield(:create_icon)
    .clearfix
  .panel-body
    = render :partial => 'route_collection', :locals => {:route_items => route_items}
